.Pixso-symbol-4_271 {
  width: 98px;
  height: 26px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  padding: 6px 14px 6px 14px;
  border-radius: 999px 999px 999px 999px;
  background-color: var(--primary-warm);
}
.Pixso-frame-4_272 {
  width: 6px;
  height: 6px;
  position: relative;
  flex-shrink: 0;
  border-radius: 999px 999px 999px 999px;
  background-color: var(--accent-foreground);
}
.Pixso-paragraph-4_273 {
  font-size: 11px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--accent-foreground);
  width: auto;
  height: auto;
  position: relative;
  flex-shrink: 0;
  white-space: pre;
  flex-grow: 0;
}
.component-4_271 {
  width: fit-content;
  height: fit-content;
}
